body {
    padding: 24px 156px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

img {
    width: 360px;
    height: 200px;
    transition: transform 300ms ease-in-out;
}

img:hover {
    transform: scale(1.04);
}